h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.stock-info-container {
    max-width: 600px;
}