.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    height: 90px;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 78px;
    margin-left: 15px;
}

.button {
    padding: 0 20px;
    height: 100%;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light highlight */
}

.button.active {
    background-color: rgba(255, 255, 255, 0.1); /* Active button highlight */
}

.nav-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}

.nav-fields-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
}

.nav-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    height: 90px;
}

.name {
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.error {
    color: red;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}